@charset "UTF-8";

/* reset simple  */

*{/* l'étoile signifie tout all */
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* les typos google */
/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

/* mes styles patrick isola site de HTML CSS PHASE 2 */

body {
    /* background: plum; */
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/concrete-texture.png');
}

h1 {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

blockquote {
    font-family: 'Lemonada', serif;
    font-size: 120%;
}

blockquote i {
    font-size: 350%;
    vertical-align: middle;
    color: #6acafc;
}

.position1{
    margin: 20px;
    position: relative;
    bottom: 15px;
}

.position2{
    margin: 20px;
    position: relative;
    top: 15px;
}
strong {
    font-weight: bold;
}

/* header index */

header {
    height: 175px;
    background: #2c3e50;
}

#logo {
    float: left;
    width: 25%;
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}

#slogan {
    float: left;
    width: 50%;
    background: #2c3e50;
    padding-top: 50px;
}

#social {
    float: left;
    width: 25%;
}

#social i {
    background: #2c3e50;
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}

header a {
    text-decoration: none;
    color: #10828c;
}

/* fin header */

/* nav // navigation */

nav {
    background: #2980b9;
    height: 70px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
    padding: 15px;
}

nav a {
    background: #6acafc;
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0;
    border: 2px solid #fff;
    color: #2c3e50;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s; /* transition sur le a marche avec le :hover */
}

nav a:hover {
    color: #fff;
    background: #a6d6c3; 
}

.active {    
    color: #fff;
    background: #a6d6c3; 
}

/* fin nav */

/* les zones principales */
main  {
    background: rgba(178, 178, 178, 0.178);
    width: 1000px;
    margin: 0 auto;
}

aside {
    height: 250px;
    background: #a6d6c3;
}
section     {
    margin-top: 50px;
    padding: 20px;
}

footer {
    height: 30px;
    background: #2980b9;
}

/* fin des zones principales */

/* le retour en haut de page */

button {
    font-size: 350%;
    background: transparent; /* l'icône est transparente */
    border: none;
    color: #2c3e50;
    position: fixed;/*  le button est fixe à 40px du bas et à 20 de la droite */
    bottom: 40px;
    right: 20px;
}


/* page texte voir aussi blockquote */

.lemonada {
}
.clear {
    clear: both;
}
p {
    padding: 5px;
}

/* fin page texte */

/* page sélecteurs */

.select p {
color: green;
background: orchid;
}

.select p:first-of-type { /* 1er enfant du type désigné */
    background: pink;
}

.select p:last-of-type { /* dernier du type désigné */
    background: #a6d6c3;
    /* width: 300px; */
}

.select p:nth-of-type(4),  p:nth-of-type(6) {
    background: #333;
    width: 500px;
}

/* .select *:last-child {
 font-size: 30px;
 border: thin solid #333;
} */

.select .zoneA {
    color: orangered;
}

.select .zoneB {
    color: olive;
}

.select div:not(.zoneB){
    font-size: 50px;
}

.select .zoneB .couleurBleu{
    color: blue;
    font-size: 16px;
}

.select  #zoneD span {
    color: #32ff32;
    /* font-size: 30px; */
    font-style: italic;
}

/* fin page sélecteur */

/* début page images */

.imageFond {
    background:#000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.imageFond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;
    background: rgba(255,255,255,0.60);
    border-radius: 10px;
    font-size: 120%;
}

.aucentre {
    text-align: center;
}

img[src="img/toureiffel.jpg"] {/* on ne cible que cette image là */
    margin: auto;
    display: block;
    padding: 20px;
    background: #fff;
}

.imagegolden {
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.imagegolden:hover {
    transform: rotate(-7deg);
    border: 15px solid #fff;
}

.rotation360:hover {
    transform: rotate(-360deg);
}

/* fin page des images */

/* page position */

/* positions "absolute"  */

.centre {
    margin:0 auto;
    width: 200px;
    height: 200px;
    background: #6acafc;
}

.absolute {
    position: absolute;/* voir aussi le "button" */
    top: 24%;
    left: 10%;
    background: yellow;
    width: 100px;
    height: 100px;

}

/* positions "relative" */

.relative {
    background: #2980b9;
    width: 400px;
    height: 400px;
    position: relative;/* relative à la section dans laquelle se trouve la div .relative */
    left: 100px;
    bottom: 10px;
}

.relative div {
    background: #FFF1A8; 
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.trente {
font-size: 22px;
width: 30%;
background: red;
padding: 20px;
color: #10828c;
}

.cinquante {
font-size: 22px;
width: 50%;
background: orangered;
padding: 20px;
color: #fff;
}

.cent {
font-size: 22px;
width: 100%;
background: pink; 
padding: 20px;  
color: green; 
}

