@charset "utf-8";
/* CSS Document */



body {
	/* background: olive; */
	margin: 0 auto;
	font-size: 1.5em;
    color: #fff;
    /* background-image: url(../img/motif.jpg);
	background-position: top left;
	background-repeat: repeat; */
}

#zoning2 {
    background: #ffd6d6;
    width: 1200px;
    text-align: center;
    margin: auto;
}

#zoning2 header {
    height: 150px;
    background: pink;
}
#zoning2 aside {
    height: 600px;
    width: 20%;
    float: left;
	background: #7FF798;
}

#zoning2 .milieu {
    float: left;
    height: 600px;
    width: 60%;
    /* margin:0;
    padding: 0; */
	background: #b49b2c;
}